    <!-- Footer -->
    <footer>
        <div class="container center">
            <p>Copyright &copy; Marc Laffan 2018</p>
            <p>Powered by Rails 5, PostgreSQL Active Admin, CKEditor</p>
        </div>
    </footer>