<div class="center">
  <%= mail_to "marclaffan@gmail.com", "Email", subject: "Howdy Marc! I'm your biggest fan!" %> |
  <a href="https://github.com/Marc5690">Github</a> |
  <a href="https://www.linkedin.com/in/marc-laffan-4134783a">LinkedIn</a> |
  <a href="https://play.google.com/store/apps/developer?id=Marc+Laffan">Play Store</a> |
  <a href="MarcLaffan-CurriculumVitae.pdf">Curriculum Vitae</a>
</div>
<script src="vendor/jquery/jquery.js"></script>
