<!-- Header -->
<header>
  <div class="center">
    <table>
      <tr>
        <td><div class="center"><%= image_tag ('ProfileAtlanta.png') %></div></td>
        <td><div class="center">Howdy! I'm Marc, and welcome to my blog.</br></br>Please click on the tutorial button below to filter my blog posts for the tutorials I've made.</div></td>
  	  </tr>
    </table>
  </div>
</header>

    <div id="box">
    <div id = 'allPosts'>
    
<%= render 'layouts/listofposts' %>
	
</div>
 <div id = 'allTutorials' style="display:none">

<%= render 'layouts/listoftutorials' %>
 </div>
 </div>