<div class="center">
  <table style="width:100%" cellpadding="10">
    <tr>
    <th><h3>Date</h3></th>
    <th><h3>Title</h3></th>
    <th><h4><button onClick="changePostsVisibility()">Tutorials</button></h4></th>
  </tr>
    <div class="col-sm-8 portfolio-item">
    <% @posts&.each do |post| %>
      <tr>
      <td><%= post.daterelease.strftime("%Y/%m")%></td>  
      <td><%= link_to post.Title, post%></td>  
        </tr>
    <% end %>
  </div>
  </table>
</div>